@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change Autcomplete styles  */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: inset 0 0 0 1px white, inset 0 0 0 100px white;
  }

  /* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;;
  box-shadow: inset 0 0 0 1px white, inset 0 0 0 100px white;
}

/* Animation on hover for navlink */

.nav__list__item {
    position: relative;
}

.nav__list__item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #46513A;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .35s ease-in-out;
}

.nav__list__item:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.link__item {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}

.link__item::after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 105%;
  /* max-height: 125%; */
  max-height: 27.5%;
  /* height: 125%; */
  height: 27.5%;
  bottom: -2px;
  left : -7.5px;
  background-color: #46513A;

  /* "to left" / "to right" - affects initial color */
  background: linear-gradient(to left, #758761 50%, white 50%) right;
  background-size: 200%;
  transition: .3s ease-in-out;
}

.link__item:hover::after {
  max-height: 125%;
  height: 125%;
}
