@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation on hover for navlink */

li a {
    position: relative;
}

li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #006340be;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .35s ease-in-out;
}

li a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
